#map {
    height: 600px;
    width: 100%;
}

.logo {
    max-width: 50%;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: white;
    border-color: black;
    border-width: 2px;
    color: black;
    padding-top: 4px;
}

.btn-primary:hover {
    background-color: black;
    border-color: black;
}

.route-info {
    font-size: 18px;
    margin-top: 10px;
}

.route-info-header {
    font-weight: bold;
}

#routeInfoLength {
    color: grey;
}

#distanceLength {
    color: grey;
}

#estimatedTimeLength {
    color: grey;
}